body {
  background-color: black;
/*  background-image: url('bg.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;    
  background-position: center; 
  background-size: cover;*/
  font-family: 'Exo', sans-serif;
  color: white;
  font-size: 20pt;
  font-weight: bold;
  text-shadow: 0px 2px 8px #000, 0px 1px 3px #000;
  text-align: center;
}

body.no_overflow {
  overflow: hidden;
}

#poetree {
  position: absolute;
  display: inline-block;
  color: white;
  left: 15%;
  top: 5%;
  width: 70%;
  z-index: -1;
  text-align: left;
  font-size: 60%;
  overflow: scroll;
}

#noni {
  position: absolute;
  background-image: url('noni.gif');
  background-repeat: no-repeat;
  /*background-attachment: fixed;    */
  background-position: center; 
/*    background-size: cover;*/
  height: 100%;
  width: 100%;
  transform: scale(0.6);
}

#rabbit {
  left: 12%;
  top: 10%;
  position: absolute;
  background-image: url('rabbit.gif');
  background-repeat: no-repeat;
  /*background-attachment: fixed;    */
  background-position: center; 
/*    background-size: cover;*/
  height: 100%;
  width: 100%;
  transform: scale(0.15);
}

#circles {
  /*background-color: rgba(255,0,0,0.4);*/
  width: 100%;
  height: 100%;
  /*animation: rotate 10s linear infinite;*/
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes reverserotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#icon-music {
  background-image: url('../ixnos/music.svg');
}
#icon-books {
  background-image: url('../ixnos/books.svg');
}
#icon-code {
  background-image: url('../ixnos/code.svg');
}
#icon-micro {
  background-image: url('../ixnos/mic.svg');
}
#icon-video {
  background-image: url('../ixnos/video.svg');
}
#icon-photo {
  background-image: url('../ixnos/photo.svg');
}

.icon {
  width: 100%;
  height: 100%;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  /*background-color: blue;*/
  /*background-attachment: fixed;*/ 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.circle_base {
	position: absolute;
  border-radius: 50%;
  /*background: rgba(200,200,200,0.2);*/
  /*background-image: linear-gradient(to bottom right, rgba(0,100,250,0.2), rgba(0,230,240,0.2));*/
  width: 100px;
  height: 100px;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  /*animation: reverserotate 10s linear infinite;*/
  /*background-image: url('rabbit.gif');*/
  /*background-repeat: no-repeat;*/
/*  background-attachment: fixed;    
  background-position: center; 
  background-size: 100px 100px;
  opacity: 0.5;*/
}

.circle_base:hover {
  opacity: 100;
  animation: none;
  box-shadow:
      0 0 50px #fff,
      -10px 0 80px #0080ff,
      10px 0 80px #0ff;
}

.circle_base:active {
  opacity: 100;
  animation: none;
  box-shadow:
      inset 0 0 50px #fff,        /*inner white*/
      inset 20px 0 80px #0080ff,  /*inner left blu short*/
      inset -20px 0 80px #0ff,    /*inner right cyan short*/
      inset 20px 0 300px #0080ff, /*inner left blu broad*/
      inset -20px 0 300px #0ff,   /*inner right cyan broad*/
      0 0 50px #fff,              /*outer white*/
      -10px 0 80px #0080ff,       /*outer left blu*/
      10px 0 80px #0ff;           /*outer right cyan*/
}

#music {
  animation: shakeA 8s cubic-bezier(.46,.07,.19,.97) both infinite;
	background-image: linear-gradient(to bottom right, rgba(0,100,250,0.3), rgba(0,230,240,0.2));
}
#music:hover {
  animation: none;
}

#videos {
  animation: shakeB 8s cubic-bezier(.36,.09,.29,.87) both infinite;
	background-image: linear-gradient(to bottom right, rgba(250,100,0,0.4), rgba(240,200,20,0.3));
}
#videos:hover {
  animation: none;
}

#books {
  animation: shakeC 8s cubic-bezier(.46,.07,.29,.97) both infinite;
	background-image: linear-gradient(to bottom right, rgba(100,250,50,0.4), rgba(230,240,50,0.3));
}
#books:hover {
  animation: none;
}

#words {
  animation: shakeD 8s cubic-bezier(.36,.09,.29,.87) both infinite;
  background-image: linear-gradient(to bottom right, rgba(110,120,230,0.4), rgba(140,50,140,0.3));
}
#words:hover {
  animation: none;
}

#code {
  animation: shakeE 8s cubic-bezier(.46,.07,.19,.97) both infinite;
  background-image: linear-gradient(to bottom right, rgba(100,0,250,0.4), rgba(255,0,10,0.3));
}
#code:hover {
  animation: none;
}

#photos {
  animation: shakeF 8s cubic-bezier(.46,.07,.19,.97) both infinite;
  background-image: linear-gradient(to bottom right, rgba(250,240,40,0.4), rgba(190,170,100,0.3));
}
#photos:hover {
  animation: none;
}

@keyframes shakeA {
  10%, 90% {
    transform: translate3d(-1px, 7px, -5px);
    opacity: 0.2;
  }
  20%, 80% {
    transform: translate3d(-3px, -10px, 2px);
    opacity: 0;
  }
  30%, 50%, 70% {
    transform: translate3d(2px, -4px, 2px);
    opacity: 0.9;
  }
  40%, 60% {
    transform: translate3d(-7px, 5px, -3px);
  }
}
@keyframes shakeB {
  10%, 90% {
    transform: translate3d(2px, -2px, 5px);
    opacity: 0.9;
  }
  20%, 80% {
    transform: translate3d(-5px, 7px, 3px);
  }
  30%, 50%, 70% {
    transform: translate3d(10px, 7px, -5px);
    opacity: 0.3;
  }
  40%, 60% {
    transform: translate3d(-2px, 3px, -2px);
    opacity: 0;
  }
}
@keyframes shakeC {
  10%, 90% {
    transform: translate3d(-4px, -3px, -1px);
    opacity: 0;
  }
  20%, 80% {
    transform: translate3d(7px, -2px, 5px);
  }
  30%, 50%, 70% {
    transform: translate3d(4px, -5px, 7px);
    opacity: 0.9;
  }
  40%, 60% {
    transform: translate3d(10px, -4px, -5px);
    opacity: 0.2;
  }
}
@keyframes shakeD {
  10%, 90% {
    transform: translate3d(-2px, 3px, -5px);
  }
  20%, 80% {
    transform: translate3d(7px, -2px, 10px);
    opacity: 0.4;
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 2px, -4px);
    opacity: 0.2;
  }
  40%, 60% {
    transform: translate3d(5px, 3px, 7px);
    opacity: 0;
  }
}
@keyframes shakeE {
  10%, 90% {
    transform: translate3d(1px, 5px, -2px);
    opacity: 0.9;
  }
  20%, 80% {
    transform: translate3d(-4px, -7px, 3px);
    opacity: 0;
  }
  30%, 50%, 70% {
    transform: translate3d(5px, 2px, -10px);
  }
  40%, 60% {
    transform: translate3d(-5px, 3px, 7px);
    opacity: 0.4;
  }
}
@keyframes shakeF {
  10%, 90% {
    transform: translate3d(3px, 2px, -6px);
    opacity: 0;
  }
  20%, 80% {
    transform: translate3d(6px, -4px, 8px);
    opacity: 0.9;
  }
  30%, 50%, 70% {
    transform: translate3d(-7px, 8px, 10px);
    opacity: 0.4;
  }
  40%, 60% {
    transform: translate3d(4px, 6px, -9px);
  }
}
